.row {
    display: flex;
    margin: -12px;
  }
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding: 12px;
  }
  figure img {
    max-width: 100%;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
  }
  td,
  th {
    padding: 0;
  }
  table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
  }
  table td[class*="col-"],
  table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
  }
  th {
    text-align: left;
  }
  .table {
    width: 100%;
    max-width: 100%;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
  }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
  }
  .table > caption + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > th,
  .table > thead:first-child > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  .table > tbody + tbody {
    border-top: 2px solid #dddddd;
  }
  .table-bordered {
    border: 1px solid #dddddd;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }
  .table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
  }
  
  @media print {
    html, body {
      page-break-after: avoid;
      page-break-before: avoid !important;
    }

    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    .table {
      border-collapse: collapse !important;
    }
    .table td,
    .table th {
      background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ddd !important;
    }
  }
  
  body.A3 .buttons {
    width: 297mm;
    height: 10mm;
  }
  body.A3.landscape .buttons {
    width: 420mm;
    height: 10mm;
  }
  body.A4 .buttons {
    width: 210mm;
    height: 10mm;
  }
  body.A4.landscape .buttons {
    width: 297mm;
    height: 10mm;
  }
  body.A5 .buttons {
    width: 148mm;
    height: 10mm;
  }
  body.A5.landscape .buttons {
    width: 210mm;
    height: 10mm;
  }
  body.letter .buttons {
    width: 216mm;
    height: 10mm;
  }
  body.letter.landscape .buttons {
    width: 280mm;
    height: 10mm;
  }
  body.legal .buttons {
    width: 216mm;
    height: 10mm;
  }
  body.legal.landscape .buttons {
    width: 357mm;
    height: 10mm;
  }
  
  h1 {
    color: #000000;
    text-align: center;
    font-size: 20pt;
    margin: 0 0 3mm 0;
  }
  
  .divisions {
    margin: 2mm 0 1mm 0;
  }
  
  h4 {
    color: #000000;
    text-align: center;
    font-size: 12pt;
    margin: 0;
  }
  
  @media screen {
    .buttons {
      display: flex;
      justify-content: space-between;
      margin: 1mm auto 5mm auto;
    }
    .buttons .btn {
      color: #fff;
      min-width: 88px;
      height: 36px;
      text-transform: uppercase;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      outline: 0;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    .buttons .btn.success {
      background-color: #4caf50 !important;
      border-color: #4caf50 !important;
    }
    .buttons .btn.warning {
      background-color: #fb8c00 !important;
      border-color: #fb8c00 !important;
    }
  }
  
  @page {
    margin: 0;
  }
  body {
    margin: 0;
  }
  .sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: avoid !important;
  }
  
  /** Paper sizes **/
  body.A3 .sheet {
    width: 297mm;
  }
  body.A3.landscape .sheet {
    width: 420mm;
  }
  body.A4 .sheet {
    width: 210mm;
  }
  body.A4.landscape .sheet {
    width: 297mm;
  }
  body.A5 .sheet {
    width: 148mm;
  }
  body.A5.landscape .sheet {
    width: 210mm;
  }
  body.letter .sheet {
    width: 216mm;
  }
  body.letter.landscape .sheet {
    width: 280mm;
  }
  body.legal .sheet {
    width: 216mm;
  }
  body.legal.landscape .sheet {
    width: 357mm;
  }
  
  /** Padding area **/
  .sheet.padding-5mm {
    padding: 5mm;
  }
  .sheet.padding-10mm {
    padding: 10mm;
  }
  .sheet.padding-15mm {
    padding: 15mm;
  }
  .sheet.padding-20mm {
    padding: 20mm;
  }
  .sheet.padding-25mm {
    padding: 25mm;
  }
  
  /** For screen preview **/
  @media screen {
    body {
      background: #e0e0e0;
    }
    .sheet {
      background: white;
      box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
      margin: 5mm auto;
    }
  }
  
  /** Fix for Chrome issue #273306 **/
  @media print {
    .buttons {
      display: none;
    }
    body.A3.landscape {
      width: 420mm;
    }
    body.A3,
    body.A4.landscape {
      width: 297mm;
    }
    body.A4,
    body.A5.landscape {
      width: 210mm;
    }
    body.A5 {
      width: 148mm;
    }
    body.letter,
    body.legal {
      width: 216mm;
    }
    body.letter.landscape {
      width: 280mm;
    }
    body.legal.landscape {
      width: 357mm;
    }
  }